
<div class="top-bar">
    <div id="stats">
        <span class="label label-info">Stats:</span>
        <%= @total %> courses in
        <% @programs.each do |program| %>
            <%= program %>
        <% end %>
    </div>
    <a class="btn btn-success" id="download-button" href="files/<%= "#{@timestamp}.xlsx" %>">Download</a>
</div>


<table class="courses table table-striped table-bordered">
    
    <% @courses.each do |program| %>
        <% program.each do |course| %>
            <tr>
                <% course.each do |data| %>
                    <td><%= data %></td>
                <% end %>
            </tr>
        <% end %>
    <% end %>
</table>

<% if params[:use_saved_values] %>
    <form action="/" method="post" class="form-inline delete-saved-search">
        <input type="hidden" name="delete_saved_search" value="<%= params[:name] %>">
        <input type="submit" class="btn btn-danger" value="Delete saved search">
    </form>
<% end %>


<% @urls.each do |url| %>
    <%= url %>
<% end %>
